:root {
  --primary: #333333;
  --bg-color: #f2f2f2;
  --white: #ffffff;

  --content-width: 1400px;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #c5cdcc;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}
ul,
ol {
  list-style: none;
}
button {
  cursor: pointer;
}
.tabs {
  background-color: var(--bg-color);
  padding: 50px 0;

  &__inner {
    width: 100%;
    max-width: var(--content-width);
    margin: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;

    > div > div:first-child {
      margin-bottom: 1em;
    }
  }

  &__selector {
    width: 33%;

    > div:first-child {
      display: flex;
      justify-content: space-between;
    }
  }

  &__tabslist {
    flex-grow: 1;
    padding-left: 120px;
    width: 66%;
  }

  &__tabslist-tabs {
    display: flex;
    margin: 0 -5px;

    > button {
      background: var(--white);
      padding: 10px 20px;
      margin: 0 5px;
      height: 50px;
      transition: all 0.5s;

      &:hover,
      &:focus,
      &.active {
        background-color: var(--primary);
        color: var(--white);
      }
    }
  }

  &__dropdown-wrapper {
    position: relative;

    > button {
      background: var(--primary);
      color: var(--white);
      display: block;
      padding: 10px 30px;
      width: 100%;
      text-align: left;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    background-color: var(--bg-color);

    padding: 10px 30px;
    .open & {
      display: block;
    }
  }

  &__tab {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    margin: 0 -50px;

    > div {
      width: 50%;

      &:last-child {
        border-left: 1px solid var(--primary);
      }
    }
  }

  &__articles {
    display: flex;
    padding: 0 30px;

    > div {
      width: 50%;
      padding: 0 20px;
    }

    h2 {
      font-size: 1em;
      text-transform: uppercase;
      margin-bottom: 0.5em;
    }
  }

  &__articles-list {
    > div {
      margin-bottom: 1em;
    }
  }
}

.richtext {
  padding: 0 50px;
  h2 {
    margin-bottom: 1em;
  }
  li {
    margin-bottom: 1em;
    position: relative;
  }

  ul > li {
    padding-left: 1.2em;
    &:before {
      width: 6px;
      height: 6px;
      position: absolute;
      left: 0;
      top: 10px;
      content: "";
      background-color: var(--primary);
      border-radius: 3px;
    }
  }
}

a {
  color: var(--primary);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
